HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Maven 缓存文件
.mvn/
mvnw
mvnw.cmd

# 日志文件
*.log
logs/
*.out

# Linux/mac 临时文件
*.swp
.DS_Store

# Spring Boot 可执行 jar
*.jar
*.war
*.exec


**/application-*.yml
**/application-*.properties

lyblog-web/src/main/resources/application-dev.yml
